# dependencies
**/node_modules

# next.js
**/.next/

# production
**/build

# vscode
**/.vscode
teenylilapps.code-workspace

# misc
.DS_Store
*.pem

# local env files
**/.env*.local

# vercel
**/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# turbo
.turbo

# playwright
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/

# AI
**/.aidigestignore
**/.cursorignore

## Panda
styled-system
styled-system-studio